yfinance>=0.2.32
praw
pandas>=2.0.0
numpy>2
pysentimiento
torch
fpdf2
matplotlib
requests>=2.31.0
ollama
scikit-learn
langchain
langchain-community
langchain-experimental
tabulate
edgar
sec-edgar-downloader>=5.0.0
edgartools>=5.0.1
util
zstandard
beautifulsoup4>=4.12.0
python-dateutil>=2.8.2
joblib
